
# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js
.yarn/install-state.gz

# testing
/coverage

# next.js
/.next/
/out/

# genkit & firebase
/.firebase
/.genkit/
/.genkit-state.json
/genkit.log
firebase-debug.log
firestore-debug.log
ui-debug.log


# production
/build

# misc
.DS_Store
*.pem
*.seed
*.log
*.local

# Environment Variables
.env
.env*.local
.env.development.local
.env.test.local
.env.production.local

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace

# Editor Editors
*.swp
*~
*.bak

# typescript
*.tsbuildinfo
tsconfig.tsbuildinfo

# Output files for populate scripts (optional, good to ignore if they get large or contain sensitive test data)
# output.txt

# Patch Package
.DS_Store
node_modules
# /patches patches should be committed

# Firebase App Hosting
.apphosting/
*.web.app
*.firebaseapp.com

# app execution
output.txt